<!-- Add all the required CSS files to be added -->
{% load staticfiles  %}

<link rel="stylesheet" href={% static 'bootstrap/dist/css/bootstrap.min.css' %}>
<link rel="stylesheet" href={% static 'angular-loading-bar/build/loading-bar.min.css' %} media="all">
<link rel="stylesheet" type="text/css" href={% static 'angular-chart.js/dist/angular-chart.min.css'%}>
<link rel="stylesheet" href={% static 'ngAnimate/css/ng-animation.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'stylesheets/styles.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'login/css/style.css' %}>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>