<div class="container">
  <header></header>
  <div ng-show="vm.showPage">
    <form class="form-horizontal" ng-submit="vm.getStocks()">
      <div class="form-group col-xs-4" ng-repeat="(key,value) in vm.filters">
        <div class="input-group">
          <div class="input-group-addon">{{value}}</div>
          <input type="number" class="form-control" step="0.01" placeholder="Min. Value" ng-model="vm.filter_values[key][0]">
          <input type="number" class="form-control" step="0.01" placeholder="Max. Value" ng-model="vm.filter_values[key][1]">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group col-xs-6">
          <div class="input-group">
            <div class="input-group-addon">Company Name</div>
            <input type="text" class="form-control" placeholder="E.g. LIC Housing" ng-model="vm.companyquery">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="button" class="btn btn-default" ng-click="vm.clearFilters()">Clear all</button>
      </div>
    </form>
    <div class="col-xs-12 stock-table" ng-show="vm.stocks.length > 0 ">
      <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" items-per-page="items_per_page"
      max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-show="bigTotalItems > items_per_page"></ul>
      <table class="table table-bordered table-hover">
        <tr>
          <th ng-repeat="(key,value) in vm.fields">{{value}}</th>
        </tr>
        <tr ng-repeat = "stock in vm.stocks.slice((bigCurrentPage - 1)*items_per_page,bigCurrentPage*items_per_page)"> 
          <td ng-repeat="(key,value) in vm.fields">
            <span ng-if="key == 'company'">
              <a class="alink" ui-sref='company({name: (stock[key] | spaceless)})' target="_blank">{{stock[key] | shortName: '22'}}({{stock.params_type}})</a>
            </span>
            <span ng-if="key != 'company'">{{stock[key]}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>