<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hawk Eye</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class='{"active": route == "home" }'><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li ng-class='{"active": route == "portfolio" }'><a href="/portfolio">Portfolio</a></li>
      </ul>
      <div class="col-md-6 col-sm-7 col-xs-8">
        <form class="navbar-form navbar-left col-xs-12" role="search">
          <div class="form-group col-xs-10">
            <input type="text" class="form-control" placeholder="Search Company..." ng-model="company_query" ng-keydown="searchSuggestion()" autocomplete="off">
          </div>
          <div class="form-group col-xs-10">
            <div class="col-xs-11 search-suggestion" ng-show="showSearchSuggestion()">
              <ul>
                <li ng-repeat="item in companySuggestion" ng-click="selectCompany(item)">
                  <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-hide="check_session()" ng-click="login()">Login/Signup</a></li>
        <li class="dropdown" ng-show="check_session()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{first_name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-show="check_session()" ng-click = "logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>