<div class="container">
  <header></header>
  <section>
    <div class="col-xs-12">
      <h4>Indicators</h4>
      <div class="col-xs-3" ng-repeat="index in vm.indices">
        <div class="card">
          <div class="col-xs-12 font-medium">{{index.indexName}}</div>
          <div class="row" ng-repeat="key in vm.index_keys">
            <div class="col-xs-5 font-medium">{{key | regularForm }}</div>
            <div ng-if="key == 'last'">
              <div class="col-xs-7 font-medium" ng-class="{'positive-values': key == 'last' && index['percChange'] > 0, 'negative-values': key == 'last' && index['percChange'] < 0 }">{{index[key]}}({{index['percChange'] | number:2}}%)</div>
            </div>
            <div ng-if="key != 'last'">
              <div class="col-xs-7 font-medium">{{index[key]}}</div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </section>
  <section>
    <div class="col-xs-12 ipo-listing" ng-show="vm.ipo_data.length > 0">
      <h4>IPO</h4>
      <table class="table table-bordered table-hover">
        <tr>
          <th>Company Name</th>
          <th>Issue Start Date</th>
          <th>Issue End Date</th>
          <th>Security type</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="ipo in vm.ipo_data">
          <td>{{ipo["company_name"]}}</td>
          <td>{{ipo["issue_start_date"]}}</td>
          <td>{{ipo["issue_end_date"]}}</td>
          <td>{{ipo["security_type"]}}</td>
          <td ng-class="{'positive-values': ipo['status'] == 'Active', 'negative-values': ipo['status'] != 'Active' }">{{ipo["status"]}}</td>
        </tr>
      </table>
    </div>
  </section>
</div>