<div class="container">
  <header></header>

  <section>
    <div class="col-xs-12 ipo-listing" ng-show="vm.ipo_data.length > 0">
      <h4>IPO</h4>
      <table class="table table-bordered table-hover">
        <tr>
          <th>Company Name</th>
          <th>Issue Start Date</th>
          <th>Issue End Date</th>
          <th>Security type</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="ipo in vm.ipo_data">
          <td>{{ipo["company_name"]}}</td>
          <td>{{ipo["issue_start_date"]}}</td>
          <td>{{ipo["issue_end_date"]}}</td>
          <td>{{ipo["security_type"]}}</td>
          <td>{{ipo["status"]}}</td>
        </tr>
      </table>
    </div>
  </section>
</div>