<div class="col-xs-12 operations" ng-show = "vm.stock_operation == 'sell'">
  <div class="col-xs-2" style="font-weight:bold; line-height:2em;">Select Company</div>
  <div class="col-xs-10" ng-include="'static/partials/selectStock.html'" ></div>
  <div class="col-xs-12">
    <form class="form-horizontal" name="sellStock" ng-submit="vm.sellStock()" >
      <div class="form-group">
        <label for="symbol" class="col-sm-2 control-label">Symbol</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="symbol" required readonly ng-model="vm.selected_stock.symbol">
        </div>
      </div>
      <div class="form-group">
        <label for="companyName" class="col-sm-2 control-label">Company Name</label>
        <div class="col-sm-7"><input type="text" class="form-control" id="companyName" readonly ng-model="vm.selected_stock.companyName"></div>
        <div class="col-xs-1" ng-show="vm.process.searching"><img src="static/images/searching.gif" width="75%"></div>
      </div>
      <div class="form-group">
        <label for="sellingPrice" class="col-sm-2 control-label">Selling Price</label>
        <div class="col-sm-7"><input type="number" step="0.01" class="form-control" id="sellingPrice" required ng-model="vm.formdata.selling_price"></div>
      </div>
      <div class="form-group">
        <label for="N_stocks" class="col-sm-2 control-label">No of Stocks</label>
        <div class="col-sm-7"><input type="number" step="1" class="form-control" id="N_stocks" required ng-model="vm.formdata.N_stocks"></div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-default" ng-click="vm.stock_operation = ''">Clear</button>
  </div>
</div>